section div {
    border: navy;
    border-style: solid;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;

}

section div h2, section div h3, section div p {
    margin-left: 15px;
}