:root {
    --text-box-width: 500px;
}

form {
    margin: 15px 15px 15px 15px;
}

form span {
    display: block;
}

#post-title-input {
    width: var(--text-box-width); 
}
#post-content-input {
    width: var(--text-box-width);
    height: 200px;
}
